<%= form_with(model: string_enforcer, local: true) do |form| %>
  <% if string_enforcer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(string_enforcer.errors.count, "error") %> prohibited this string_enforcer from being saved:</h2>

      <ul>
      <% string_enforcer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
